<footer>
  <div class="row">
    <div class="small-12 large-12 columns">
      <a class="left"
        href="mailto:hi@codingvalue.com">hi@codingvalue.com</a>

      <a class="right" href="http://codingvalue.com">codingvalue.com</a>
    </div>
  </div>
</footer>
