.index .content section {
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px solid #ccc;

  h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
  }

  &.gray {
    background-color: #fafafa;
  }

  &.white {
    background-color: white;
  }
}

// left align headers for big displays
@media only screen and (min-width: 768px) {
  .index .content section {
    h2, h3, h4, h5, h6 {
      text-align: left;
    }
  }
}
