
@mixin fonts {
  font-family: Georgia,Arial,sans-serif;
}

.Blog-post {

  a {
    color: #238E23;
    text-decoration: underline;

    &.button {
      text-decoration: none;
    }
  }

  &__title {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 0.4em;

    a {
      color: black;
      text-decoration: none;
    }
  }

  p, li {
    @include fonts;
    font-size: 1.1em;
    line-height: 1.35em;
  }

  ul {
    @include fonts;
    padding-left: 2em;
  }

  p > code, li > code {
    @include fonts;
    font-weight: normal;
    background-color: #e0e0e0;
    font-family: Fixed, monospace;
    display: inline-block;
    padding: 2px 5px
  }

  pre > code {
    margin-bottom: 1.25em;
    padding: 1em;
    font-weight: normal;
    line-height: 1.45em;
    border-radius: 3px;
  }

  img {
    max-width: 100%;
  }
}

.By-line {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-bottom: 1.4em;

  &__author {
    margin-left: 0.5em;
    font-weight: bold;
  }

  &__date {
    color: #999;
    font-style: italic;
    margin-left: 1em;
  }
}

.About {
  display: flex;
  margin-top: 2em;
  padding-top: 2em;
  margin-bottom: 2em;
  border-top: 1px solid #ccc;

  &__image {
    margin-right: 20px;
  }

  &__info {
    &__name {
      font-weight: bold;
      font-size: 1.6em;
    }

    &__text {
      @include fonts;
      font-style: italic;
      margin: 0.4em 0 0 0;
      color: #666;
    }
  }

  &__links {
    margin-left: auto;
    justify-content: flex-end;
  }

  &__link {
    display: inline-block;
    margin-left: 20px;
    color: #333;
    font-size: 14px;
  }
}

