.blog {
  nav {
    height: 1.7em;
    //font-size: 2em;
    font-size: 36px;
    font-family: 'Cabin Condensed', sans-serif;
    font-weight: 700;
    margin-bottom: 1em;

    text-align: center;
    background-color: rgba(0,0,0,0.75);

    ul.top {
      text-align: center;
      list-style-type: none;
      margin: 0 auto;
      padding:0;

      li {
        display: inline;
        padding: 0 1em;

        a {
          text-shadow: 2px 2px #111111;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
