.blog .side-panel {

  .coding-value {
    text-align: center;

    .blog-of {
      font-size: 0.80em;
    }

    .coding-value-link {
      font-size: 2em;
      font-weight: 700;
      display: block;
      text-decoration: none;
      padding-bottom: 0.5em;
    }

    .what-we-do {
      text-align: justify;
      font-size: 0.90em;
    }

    .get-in-touch {
      margin-bottom: 0;
    }
  }

  .bio {
    .article-by {
      padding-bottom: 1em;
    }

    .picture {
      margin: 0 0.5em 0.5em 0;
    }

    .author {
      font-weight: bold;
      line-height: 1.7em;
    }

    .email {
      font-size: 0.80em;
    }
  }

}
