---
title: Blog
---

<div class="posts">
  <% blog.articles.each_with_index do |article, i| %>

    <div class="post"
      style="background-image: url(<%= "#{article.url}#{article.data.cover}" %>);" >

      <div class="row">
        <div class="small-12 columns">

          <div class="about">
            <div class="row">

              <div class="small-12 large-9 columns">
                <h3 class="title">
                  <a href="<%= article.url %>"><%= article.title %></a>
                </h3>
              </div>

              <div class="small-12 large-3 columns">
                <h6 class="right date">
                  <%= article.date.strftime('%b %e %Y') %>
                </h6>
              </div>

            </div>

            <div class="summary">
              <%# = article.summary(250, '>>') %>
            </div>
          </div>

        </div>
      </div>
    </div>
  <% end %>
</div>
