---
title: Welcome
---

<div class="fixed">
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">CodingValue</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li><a href="#about" class="about">About</a></li>
        <li><a href="#projects" class="projects">Portfolio</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="mailto:hi@codingvalue.com">Contact</a></li>
      </ul>
    </section>
  </nav>
</div>

<div class="empty">
  <div class="radius panel">
    <h4>Welcome to Coding Value</h4>
    <p>
      We enjoy building and prototyping web applications for both
      startups and enterprise businesses. We take pride in
      delivering work that satisfies all requirements while being
      on time and on budget.
    </p>

    <a href="mailto:hi@codingvalue.com"
      class="expand nice radius success button">Start a Conversation with Us</a>
  </div>
</div>

<div class="content whitespace">

  <section class="white about what-we-do">
    <div class="row">
      <div class="small-12 large-6 columns">
        <h4>What We Do</h4>
        <ul class="features no-bullet">
          <li>Backend application development.</li>
          <li>Mobile web design and development.</li>
          <li>Refactoring and updating legacy applications.</li>
          <li>Training, pairing, and coaching.</li>
        </ul>
      </div>
      <div class="small-12 large-6 columns">
        <img class="what-we-do"
          src="/images/what-we-do.png" />
      </div>
    </div>
  </section>

  <section class="gray about process">
    <div class="row">
      <div class="small-12 large-6 push-6 columns">
        <h4>Our Process</h4>
        <ul class="features no-bullet">
          <li>Agile best practices with short iterations.</li>
          <li>Test driven development through red, green, refactor.</li>
          <li>Build products, measure data, learn ideas.</li>
          <li>Continuous delivery and continuous integration.</li>
        </ul>
      </div>
      <div class="small-12 large-6 pull-6 columns">
        <img class="process"
          src="/images/process-board.png" />
      </div>
    </div>
  </section>

  <section class="white about technologies">
    <div class="row">
      <div class="small-12 large-6 columns">
        <h4>Technologies</h4>
        <ul class="features no-bullet">
          <li>JavaScript and Ember.JS for front end development.</li>
          <li>Ruby on Rails for backend applications.</li>
          <li>CSS3 and HTML5 for improved user experiences.</li>
          <li>Node.js for network and I/O heavy applications.</li>
        </ul>
      </div>
      <div class="small-12 large-6 columns">
        <img class="technologies"
          src="/images/logos-color.png" />
      </div>
    </div>
  </section>

  <section class="featured-project">
    <div class="featured-project row">
      <div class="small-0 large-6 columns">
        <img src="/images/garagesocial/profile-macbook-small.png" 
          height="300" width="484" />
      </div>
      <div class="small-12 large-6 columns">
        <h4 class="show-for-medium-up featured-project">Featured Project</h4>
        <div class="about">
          <h3 class="name">Garage Social</h3>
          <p>
            Garage Social is a social networking and vehicle exploration platform for car
            enthusiasts. We designed a profile page and filtering system that was able
            to reduce load times to under 50 milliseconds when browsing a driver's vehicles.
          </p>
          <p class="technologies-used">
            <span class="secondary radius label">Ember.JS</span>
            <span class="secondary radius label">Ember Data</span>
            <span class="secondary radius label">Bootstrap</span>
            <span class="secondary radius label">Compass</span>
            <span class="secondary radius label">Sass</span>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="about projects">
    <div class="row">
      <div class="small-12 large-6 project columns">
        <h4 class="center">CourtCovered</h4>

        <p>
          <img src="images/project-images/courtcovered-imac-small.png"
            width="150"
            class="left" />

          CourtCovered provides an online market place to streamline
          attorney-to-attorney coverage. The web application reduces
          costs to clients by facilitating searching, hiring,
          and paying attorneys for coverage.

          <br class="clear" />
        </p>
        <p class="technologies-used">
          <span class="radius secondary label">Ruby on Rails</span>
          <span class="radius secondary label">JavaScript</span>
          <span class="radius secondary label">Payments</span>
          <span class="radius secondary label">Scheduling</span>
        </p>
      </div>

      <div class="small-12 large-6 project columns">
        <h4 class="center">Junk Car Casher</h4>
        <p>
          <img src="images/project-images/junkcar-iphone-small.png"
            width="71"
            class="left" />

          Junk Car Casher is a mobile web application that allows people
          to quickly and efficiently sell their used cars. The application
          runs entirely in the browser so no download or install is required.

          <br class="clear" />
        </p>
        <p class="technologies-used">
          <span class="radius secondary label">Ember.JS</span>
          <span class="radius secondary label">Mobile Web</span>
          <span class="radius secondary label">HTML5</span>
          <span class="radius secondary label">Ruby on Rails</span>
        </p>
      </div>
    </div>
  </section>

  <section class="footer">
    <div class="row">
      <div class="small-12 large-12 columns">
        <a class="left"
          href="mailto:hi@codingvalue.com">hi@codingvalue.com</a>

        <a class="right" href="http://codingvalue.com">codingvalue.com</a>
      </div>
    </div>
  </section>
</div>
