---
title: Welcome
---

<div class="row">
  <div class="small-6 small-centered columns">
    <h1>CodingValue</h1>
    <p>
      Coming soon. <a href="mailto:ryanto@gmail.com">Contact me</a>
      if you need help with any EmberJS projects.
    </p>
  </div>
</div>
