---
title: Coding Value blog
---

<div class="Blog-post-list">
  <% blog.articles.each_with_index do |article, i| %>
    <h3 class="Blog-post-list__title">
      <a href="<%= article.url %>"><%= article.title %></a>
    </h3>

    <%= article.date.strftime('%b %e %Y') %>
  <% end %>
</div>
